*{
    box-sizing: border-box;
}

body{
    width: 100vw;
}

img{
    width: 100%;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

/* select{
    border: none;
    outline: none;
} */

header{
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
    position: sticky;
    /* z-index: var(--mer-z-index-navigation-top); この部分の意味は？ */
    top: 0px;
}

.header__logo{
    width: 250px;
    height: fit-content;
    vertical-align: middle;
}

.header__nav{
    display: flex;
}

.header__nav ul{
    display: flex;
    align-items: center;
}

.header__nav li{
    margin-right: 30px;
}

/* 仕様：カーソル持ってきた際の挙動は太字でOK？ */
.header__nav li:hover{
    font-weight: bold;
}

.header__logout{
    color: #fff;
    font-size: 16px;
}

/* 仕様：カーソル持ってきた際の挙動は太字でOK？ */
.header__logout:hover{
    font-weight: bold;
}

.btn{
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    width: 450px;
    height: 45px;
}

/* 仕様：カーソル持ってきた際の挙動 */
.btn:hover{
    opacity: 0.8;
    transition: 0.2s;
}

.btn--big{
    width: 100%;
    margin-top: 60px;
    font-size: 20px;
}

.page__title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.center{
    width: 680px;
    margin: 0 auto;
    padding: 50px 0;
}

.entry__name{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

.input{
    width: 100%;
    height: 45px;
    padding: 5px;
}

.form__error{
    color: red;
    margin-top: 8px;
}
